@import "../../sass/base/colors";
@import "../../sass/base/mixin";

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $body-color;

  width: 100%;
  margin-bottom: 10px;
}

.description {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: $secondary-text-color;
  &::first-letter {
    text-transform: capitalize;
  }
}

.secondary {
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  letter-spacing: 0.04em;
  color: $secondary-text-color;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.amountCost {
  color: $red-color;

  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.amountIncome {
  color: $green-color;

  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.right {
  display: flex;
  flex-direction: row;

  & button {
    display: flex;
    align-items: center;

    border: none;
    outline: none;
    transition: all 250ms linear;

    background-color: transparent;
  }

  & button:focus {
    transform: scale(1.5);
    fill: $accent-color;
  }

  & span:not(:last-child) {
    margin-right: 20px;
  }
}

@include for-size(tablet) {
  .incomesTable {
    min-width: 605px;
    border-spacing: 0;
    display: inline-block;

    td:first-child {
      padding-left: 21px;
    }
    & td {
      width: 130px;
    }
    & thead {
      min-width: 605px;

      & td {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $primary-black-color;

        background-color: $body-color;

        &:first-child {
          border-top-left-radius: 20px;
        }

        &:last-child {
          border-top-right-radius: 20px;
        }
      }
    }
    & tbody {
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 382px;
      display: inline-block;
      width: 605px;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        background-color: $body-color;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $accent-color;
        border-radius: 2px;
        height: 130px;
        width: 6px;
      }
    }
    & tbody td {
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.04em;
      color: $secondary-text-color;

      border-bottom: 2px solid $body-color;
      &:last-child {
        width: 78px;
      }
      &:first-child {
        border-left: 2px solid $body-color;
      }

      &.rightCol {
        text-align: center;
      }

      &.amountCost {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: $red-color;
        text-align: right;
      }

      &.amountIncome {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: $green-color;
        text-align: right;
      }
    }
  }

  .centerCol {
    text-align: center;
  }

  .leftCol {
    text-align: left;
    max-width: 188px;
  }

  .rightCol {
    text-align: right;
  }

  td > button {
    display: flex;
    align-items: center;

    border: none;
    outline: none;
    transition: all 250ms linear;

    background-color: transparent;

    &:focus {
      transform: scale(1.5);
      fill: $accent-color;
    }
  }

  .tdButton {
    width: 60px;
    display: flex;
    justify-content: center;
  }

  td {
    height: 38px;
  }

  .clean {
    width: 60px;
  }
}

@include for-size(desktop) {
  .incomesTable {
    display: inline-block;
    width: 760px;
    td {
      width: 155px;
    }
    td.tdButton {
      width: 60px;
      display: flex;
      justify-content: center;
    }
    & tbody {
      width: 760px;
      & td:last-child {
        width: 130px;
      }
      & td.rightCol {
        // width: 152px;
        text-align: center;
      }
    }
  }

  .tdButton > button:hover {
    transform: scale(1.2);
    fill: $accent-color;
  }
}
