@import "./mixin";

.container {
  margin: 0 auto;
  padding-left: 19px;
  padding-right: 19px;
  width: 320px;
  @include for-size(tablet) {
    width: 768px;
    padding-left: 51px;
    padding-right: 52px;
  }
  @include for-size(desktop) {
    width: 1280px;
    padding-left: 19px;
    padding-right: 19px;
  }
}
