@import "../../sass/base/_colors.scss";
@import "../../sass/base/_mixin.scss";

.mainWrapper {
  width: 134px;
  margin: 16px 93px 30px 75px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
@include for-size(tablet) {
  .mainWrapper {
    margin: 42px 0px 33px 80px;
  }
}
@include for-size(desktop) {
  .mainWrapper {
    margin-left: 231px;
  }
}
.currentMonthBtn {
border: none;
background-color: transparent;
// display: flex;
// justify-content: space-between;
// align-items: flex-start;
}
.currentTitle {
  color: $primary-text-color;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: center;
}
.currentMonth {
  color: $primary-black-color;
  font-size: 14px;
  line-height: 1.43;
  font-weight: bold;
  text-transform: uppercase;
}
.arrowBtnRight {
  display: block;
  width: 10px;
  height: 15px;
  margin: 0 auto;
  background-image: url("../../images/period-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  
}
.arrowBtnLeft {
  display: block;
  width: 10px;
  height: 15px;
  margin: 0 auto;
  background-image: url("../../images/period-back-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}
