@import "../../sass/base/_colors.scss";
@import "../../sass/base/_mixin.scss";

.mainWrapper {
  width: 134px;
  margin: 49px 93px 30px 93px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
@include for-size(tablet) {
  .mainWrapper {
    margin: 42px 54px 33px 80px;
  }
}
@include for-size(desktop) {
  .mainWrapper {
    margin-right: 110px;
  }
}
.currentMonthBtn {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.currentImg {
  fill: #ff751d;
}
.currentTitle {
  color: $primary-text-color;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: center;
}
.currentMonth {
  color: $primary-black-color;
  font-size: 14px;
  line-height: 1.14;
  font-weight: bold;
  text-transform: uppercase;
}
