@import "../../sass/base/colors";
@import "../../sass/base/mixin";
@import "../../sass/base/container";

.mainTheme {
  position: absolute;
  content: "";

  top: 51px;
  left: 0;
  height: 286px;
  width: 100%;

  background: $body-color;
  border-bottom-left-radius: 100px;
  z-index: -1;

  @include for-size(tablet) {
    height: 526px;
  }
}

.loggedTheme {
  @include for-size(tablet) {
    background-image: url("../../images/bg-kapusta-tablet.png");
    background-position: bottom 64px right 88px;
    background-repeat: no-repeat;
  }
  @include for-size(desktop) {
    min-height: 60vmax;
    background-image: url("../../images/bg-kapusta-desktop.png");
    background-position: bottom 0 left 10px;
    background-size: 100% auto;
  }
}

.unloggedTheme {
  position: relative;
  background: transparent;

  background-image: url("../../images/bg-kapusta-mobile.png"),
    url("../../images/bg-kapusta-mobile-up.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left 35px, top 115px right -32px;
  background-size: auto, auto;

  z-index: 10;

  @include for-size(tablet) {
    min-height: 960px;
    background-image: url("../../images/bg-kapusta-tablet.png"),
      url("../../images/kapustaup.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 56px left 103px, top 28px left 10px;
    background-size: auto, auto;
  }
  @include for-size(desktop) {
    min-height: 820px;
    background-position: bottom 50px left 230px, top 28px left 10px;
    background-size: auto, 100% auto;
  }
}

.unloggedGroup {
  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 115px;
  }
}

.heroTitle {
  padding-top: 86px;
  margin: auto auto 50px 30px;
  @include for-size(tablet) {
    padding-top: 90px;
    margin-left: 110px;
  }
  @include for-size(desktop) {
    padding: 0;
    margin: 0 0 0 115px;
  }
}
.kapustaTitle {
  width: 183px;
  height: 47px;
  @include for-size(tablet) {
    width: 307px;
    height: 78px;
  }
  @include for-size(desktop) {
    width: 377px;
    height: 120px;
  }
}
.smartFinance {
  font-family: Roboto;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.154;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  padding-left: 11px;

  color: $secondary-text-color;

  @include for-size(tablet) {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.18em;

    padding-left: 53px;
  }
  @include for-size(desktop) {
    padding-left: 72px;
  }
}
