@import '../../sass/base/_colors.scss';
@import '../../sass/base/_mixin.scss';

.summary {
  width: 230px;
  background-color: $body-color;
  border: 2px solid #ffffff;
  border-radius: 20px 20px 20px 0;
  // margin-left: 81px;
  // margin-top: 40px;
  // margin-bottom: 57px;
}
// @media screen and (max-width: 767px) {
//   .summary {
//     display: none;
//   }
// }

// @media screen and (min-width: 1024px) {
//   .summary {
//     margin-right: 20px;
//     margin-left: 30px;
//     margin-top: 60px;
//     margin-bottom: 165px;
//   }
// }

.summary_title {
  height: 38px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.87;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  color: #000000;
}

.summary_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.summary_listItem {
  height: 38px;
  padding-left: 22px;
  padding-right: 20px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary_itemMonth {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.87;
  color: $secondary-text-color;
  text-transform: uppercase;
}

.summary_itemSum {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.87;
  color: $secondary-text-color;
}
