@import "../../sass/base/colors";
@import "../../sass/base/mixin";

.calendarWrapper {
  position: relative;
  margin: 0 auto;
  margin-bottom: 62px;
  width: 107px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: transparent;
  cursor: pointer;

  @include for-size(tablet) {
    padding-top: 10px;
    margin-bottom: 0;
  }
  @include for-size(desktop) {
    padding-top: 0;
  }
}

.calendar {
  margin-left: 30px;
  color: $secondary-text-color;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  border: none;
  padding: 0;
  width: 66px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
