@import "../../sass/base/colors";
@import "../../sass/base/mixin";

.calendarWrapper {
  width: 107px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: transparent;
  transition: all 250ms linear;
  @include for-size(tablet) {
    padding-top: 10px;
  }
  @include for-size(desktop) {
    padding-top: 0;
  }
  & svg {
    max-width: 20px;
  }
  &:hover,
  &:focus {
    fill: $accent-color;
    transform: scale(1.2);
  }
}

.calendar {
  margin-left: 10px;
  color: #52555f;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  border: none;
  padding: 0;
  width: 66px;
  background-color: transparent;
  // margin-left: 10px;
}
