@import "../../../sass/base/colors";
@import "../../../sass/base/mixin";

.Backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(134, 134, 134, 0.9);
  z-index: 1200;
}

.Modal {
  position: relative;
  text-align: center;
  padding-top: 50px;
  width: 300px;
  height: 194px;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 1);
  border-radius: 30px;
  background-color: white;

  @include for-size(tablet) {
    width: 380px;
  }
}

.Modal > .modalTitle {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: Roboto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: #52555f;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;

  background-image: url(../../../images/close.svg);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 14px;
  border-radius: 50%;
  background-color: transparent;
}
.closeButton:hover,
.closeButton:focus {
  background-color: $accent-color;
}
