@import "../../sass/base/colors";
@import "../../sass/base/mixin";

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;

  padding-top: 54px;
}

.Auth__inputWrapper {
  position: relative;

  &:first-child {
    & input {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }

  &:not(:first-child) {
    margin-bottom: 30px;
    & input {
      border-bottom-right-radius: 20px;
    }
  }
}

.Auth__amountInputWrapper {
  position: relative;
  width: 183px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 83px;

  & div {
    position: absolute;
    left: 118px;
    top: -1px;
    width: 60px;
    height: 56px;

    border-left: 2px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Auth__input {
  outline: none;
  padding: 20px 20px;
  background: $input-color;

  border: 2px solid #fff;
  font-size: 14px;
  line-height: 1.143;
  color: $input-text-color;
  width: 100%;
}

.Auth__amountInput {
  outline: none;
  padding: 20px 20px;
  padding-left: 40px;
  background: $input-color;
  border-radius: 30px;
  border: 0;
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000;
}

.Auth__errorMessage {
  color: $red-color;
  position: absolute;
  top: 55px;
  left: 53px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cathegory_btn {
  position: absolute;
  z-index: 100;
  right: 22px;
  bottom: 32px;
  width: 12px;
  height: 7px;
  background-color: transparent;
  outline: none;
  border: none;
}
.icon {
  width: 12px;
  height: 7px;
  fill: transparent;
  transform: rotate(180deg);
}
.iconUp {
  width: 12px;
  height: 7px;
  fill: transparent;
}

.category_list {
  position: absolute;
  z-index: 200;
  width: 282px;
  background-color: #fff;
  border: 2px solid #f5f6fb;
  box-shadow: 0px 3px 4px rgba(170, 178, 197, 0.4);

  @include for-size(tablet) {
    width: 171px;
  }

  @include for-size(desktop) {
    width: 188px;
  }
}
.cathegory__item {
  padding: 0 18px 0 20px;
  width: 188px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.89;
  align-items: center;
  letter-spacing: 0.02em;
  color: #c7ccdc;
  &:hover,
  &:focus,
  &:active {
    color: $secondary-text-color;
    background-color: $body-color;
  }
}
