@import "../../sass/base/colors";
@import "../../sass/base/mixin";

.input_group {
  padding: 0 18px 0 20px;
  width: 188px !important;
  height: 44px;

  background-color: #fff !important;
  border: 2px solid #f5f6fb !important;
  box-sizing: border-box !important;
  border-radius: 0px !important;
  position: relative;
}

#dropdown__btn,
.input__group {
  padding: 0;
  width: 282px;
  height: 44px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #c7ccdc !important;
  outline: none !important;
  @include for-size(tablet) {
    width: 171px;
  }
  @include for-size(desktop) {
    width: 188px;
  }
}

#dropdown__btn::after {
  display: none;
}

.dropdown__item {
  width: 188px !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.89;
  align-items: center;
  letter-spacing: 0.02em;
  color: #c7ccdc !important;
  &:hover,
  &:focus,
  &:active {
    color: $secondary-text-color !important;
    background-color: $body-color !important;
  }
}

.cathegory_container {
  position: relative;
  width: 282px;
  height: 44px;
  @include for-size(tablet) {
    width: 171px;
  }

  @include for-size(desktop) {
    width: 188px;
  }
}

.icon {
  position: absolute;
  right: 18px;
  bottom: 18px;
  z-index: 100;
  width: 12px;
  height: 7px;
  fill: transparent;
  transform: rotate(180deg);
}
.iconUp {
  position: absolute;
  right: 18px;
  bottom: 18px;
  z-index: 100;
  width: 12px;
  height: 7px;
  fill: transparent;
}
